@model GM.Data.View.ExternalInterface.ImportExportDataViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="working-content">
    <div class="container-fluid container-fixed">
        <!-- PageTitle -->
        <div class="row row-fixed">
            <div class="col-lg-12 col-fixed">
                <div class="page-title">
                    <div class="breadcrumb-wrap">
                        <ol class="breadcrumb" id="NavBar"></ol>
                    </div>
                    <div class="title">
                        <h1>
                            Import & Export - NAV Price
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Zone -->
        <div class="row row-fixed">
            <div class="col-xs-12 col-fixed">

                <div id="alert-msg">
                    @(ViewBag.AlertStatus == "Success" ?
                                    @Html.Raw("<div class='alert alert-success alert-dismissible' role='alert'> " +
                                              "<button type='button' class='close' data-dismiss='alert' aria-label='Close'> " +
                                              "<span aria-hidden='true'>&times;</span></button>" + ViewBag.AlertMsg +
                                              "</div>")
                                    : ViewBag.AlertStatus == "Error" ?
                                    Html.Raw("<div class='alert alert-danger alert-dismissible' role='alert'> " +
                                              "<button type='button' class='close' data-dismiss='alert' aria-label='Close'> " +
                                              "<span aria-hidden='true'>&times;</span></button>" + ViewBag.AlertMsg +
                                              "</div>") : Html.Raw(""))

                </div>

                <!-- Div Search -->
                <div class="box-content" id="search-form-modal">
                    <div class="box-header">
                        <div class="left-item">
                            <div class="title">
                                <h3>Import</h3>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("NavPrice", (string)this.ViewContext.RouteData.Values["controller"], FormMethod.Post, new { @class = "one-col-form", id = "import-form", enctype = "multipart/form-data" }))
                    {
                        <div class="form-container form-horizontal">
                            <div class="row">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="form-group">
                                        @Html.LabelForRequired(model => model.ImportTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-xs-4">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" id="ddl_ImportTo" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    @Html.SpanFor(model => model.ImportTo, "Select...", new { @class = "selected-data" })
                                                    @Html.Hidden("ImportTo", null, new { @class = "selected-value" })
                                                    @Html.Hidden("ImportTo", null, new { @class = "selected-data" })
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <input type="hidden" id="ImportTo">
                                                    <ul id="ul_import_to">
                                                        <li class="searchterm">
                                                            <a onclick='ClearDDL("ImportTo", "Select...")'>Select...</a>
                                                        </li>
                                                        <li class="searchterm">
                                                            <a data-toggle="tooltip" title="NAV Price" onclick='AddTextForDDL("NAV Price", "ImportTo", "NAV_PRICE", "null", "null")'>NAV Price</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span id="import_to_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="form-group">
                                        @Html.LabelForRequired(model => model.ImportDate, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                @Html.EditDateFor(model => model.ImportDate, new { id = "txt_import_date", @class = "form-control date-time-picker" })
                                                <span class="input-group-addon default date-pick-btn">
                                                    <span class="feather-icon icon-calendar"></span>
                                                </span>
                                            </div>
                                            <span id="import_date_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="form-group">
                                        @Html.LabelForRequired(model => model.UploadFile, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <input type="file" name="UploadFile" id="txtUploadFile" accept=".csv" />
                                            <span id="upload_file_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span id="import_desc" style="color: red;">Only : Nav Center_ddmmyyyy.csv</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-round btn-main" type="button" id="btnImport">Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>

@section Styles {
    @Styles.Render("~/content/datatable")
    @Styles.Render("~/bundles/SweetAlertCss")
    <style>
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_processing {
            z-index: 3000;
            padding-top: 10px !important;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/SweetAlert")
    <script src="~/Scripts/GM.ImportNavPrice.js"></script>
    <script>
        $(document).ready(function () {
            var settings = {
                arrExt: ['csv']
            };
            ImportData.init(settings);
        });
    </script>

}

