@model GM.Data.View.RPTransaction.RPDealEntryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="working-content">
    <div class="container-fluid container-fixed">
        <!-- PageTitle -->
        <div class="row row-fixed">
            <div class="col-lg-12 col-fixed">
                <div class="page-title">
                    <div class="breadcrumb-wrap">
                        <ol class="breadcrumb" id="NavBar"></ol>
                    </div>
                    <div class="title">
                        <h1>
                            Repo Amend Deal
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Zone -->
        <div class="row row-fixed">
            <div class="col-xs-12 col-fixed">
                <!-- Search Zone -->
                <div class="box-content" id="search-form-modal">
                    <div class="box-header">
                        <div class="left-item">
                            <div class="title">
                                <h3>Search Repo Amend Deal</h3>
                            </div>
                        </div>
                        <div class="right-item">
                            <button id="user-master" class="btn btn-link less-more-option">
                                Show more option
                                <i class="feather-icon icon-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    @using (Html.BeginForm("Search", (string)this.ViewContext.RouteData.Values["controller"], FormMethod.Post, new { @class = "one-col-form", id = "search-form" }))
                    {
                        <div class="form-container form-horizontal">
                            <div class="row">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2">Event Type</label>
                                        <div class="col-xs-4">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" id="ddl_event_type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    @Html.SpanFor(model => model.FormSearch.event_type_name, "Select...", new { @class = "selected-data" })
                                                    @Html.TextBoxFor(model => model.FormSearch.event_type, htmlAttributes: new { @class = "selected-value hidden" })
                                                    @Html.TextBoxFor(model => model.FormSearch.event_type_name, htmlAttributes: new { @class = "selected-data hidden" })
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="search-dropdown-menu">
                                                        <input type="text" style="display:none" data-action="@Url.Action("FillEventType", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_event_type" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                    </div>
                                                    <ul id="ul_event_type"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label col-xs-2">Message Type</label>
                                        <div class="col-xs-4">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" id="ddl_message_type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    @Html.SpanFor(model => model.FormSearch.message_type, "All", new { @class = "selected-data" })
                                                    @Html.TextBoxFor(model => model.FormSearch.message_type, htmlAttributes: new { @class = "selected-value hidden" })
                                                    @Html.TextBoxFor(model => model.FormSearch.message_type, htmlAttributes: new { @class = "selected-data hidden" })
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="search-dropdown-menu">
                                                        <input type="text" style="display:none" data-action="@Url.Action("FillMessageType", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_message_type" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                    </div>
                                                    <ul id="ul_message_type"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FormAction.from_trans_no, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            @Html.EditorFor(model => model.FormSearch.from_trans_no, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.LabelFor(model => model.FormAction.to_trans_no, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-xs-4">
                                            @Html.EditorFor(model => model.FormSearch.to_trans_no, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="advance-form" style="display: none;">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FormSearch.from_trade_date, htmlAttributes: new { @class = "control-label col-xs-2" })
                                            <div class="col-xs-4">
                                                <div class="input-group date">
                                                    @Html.EditDateFor(model => model.FormSearch.from_trade_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            @Html.LabelFor(model => model.FormSearch.to_trade_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-xs-4">
                                                <div class="input-group date">
                                                    @Html.EditDateFor(model => model.FormSearch.to_trade_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FormSearch.from_settlement_date, htmlAttributes: new { @class = "control-label col-xs-2" })
                                            <div class="col-xs-4">
                                                <div class="input-group date">
                                                    @Html.EditDateFor(model => model.FormSearch.from_settlement_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            @Html.LabelFor(model => model.FormSearch.to_settlement_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-xs-4">
                                                <div class="input-group date">
                                                    @Html.EditDateFor(model => model.FormSearch.to_settlement_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FormSearch.from_maturity_date, htmlAttributes: new { @class = "control-label col-xs-2" })
                                            <div class="col-xs-4">
                                                <div class="input-group date">
                                                    @Html.EditDateFor(model => model.FormSearch.from_maturity_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            @Html.LabelFor(model => model.FormSearch.to_maturity_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-xs-4">
                                                <div class="input-group date">
                                                    @Html.EditDateFor(model => model.FormSearch.to_maturity_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(mode => Model.FormAction.payment_method, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <p class="form-control-static">
                                                SWIFT
                                            </p>
                                        </div>
                                        @Html.LabelFor(mode => Model.FormAction.trans_mt_code, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <p class="form-control-static">
                                                518
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-round btn-main btn-search" type="submit">Confirm</button>
                                    <button class="btn btn-link btn-link-secondary" type="reset">Clear Data</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Div Detail -->
                <div class="box-content table-content">
                    <div class="group box-header-wrapper">
                        <div class="box-header">
                            <div class="left-item">
                                <div class="title">
                                    <h3>Details</h3>
                                </div>
                            </div>
                            <div class="right-item">
                            </div>
                        </div>
                    </div>
                    <div class="outer-table-wrapper">
                        <table id="x-table-data" class="table table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">No.</th>
                                    <th style="text-align:center;">Message Type</th>
                                    <th>Trans no.</th>
                                    <th>Instrument</th>
                                    <th>Trans Deal Type</th>
                                    <th>Counter Party</th>
                                    <th>Cur</th>
                                    <th>Trade Date</th>
                                    <th>Settlement Date</th>
                                    <th>Maturity Date</th>
                                    <th class="action" style="text-align:center;">
                                        <i class="feather-icon icon-settings" style="font-size: large;"></i>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal center fade" id="check_releasemt" tabindex="-1" role="dialog" aria-labelledby="check_releasemt">
    <div class="modal-dialog modal-extra-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="feather-icon icon-x"></i>
                    </span>
                </button>
                <h4 class="modal-title">Message Confirm</h4>
            </div>
            <div class="modal-body clear">
                <div class="clearfix">
                    <div class="data-list col-xs-12">
                        <table id="modal_release_mt" class="table table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <th>Message</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-option inner-padding">
                    <button type="button" class="btn btn-default btn-round btn-long" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/SweetAlertCss")
    @Styles.Render("~/content/datatable")
    <style>
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_processing {
            z-index: 3000;
            padding-top: 10px !important;
        }

        #search-form .text-box {
            width: 235px !important;
        }

        #search-form .dropdown {
            width: 235px !important;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/SweetAlert")

    <script>

        $(document).ready(function () {
            $("#NavBar").html($('#NavRPConfirmation').val());
        });
    </script>

    @*@Scripts.Render("~/module/AmendConfirmDeal")*@
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + DateTime.Now.ToString("ddmmyyyyHHmmss") + "\"></script>", "~/module/AmendDeal")
}

