@model GM.Data.View.UserAndScreen.PolicyRateViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="working-content">
    <div class="container-fluid container-fixed">
        <!-- Div Page Title -->
        <div class="row row-fixed">
            <div class="col-lg-12 col-fixed">
                <div class="page-title">
                    <div class="breadcrumb-wrap">
                        <ol class="breadcrumb" id="NavBar">
                            @*<li>
                                <a href="Home\Index">Home</a>
                            </li>
                            <li class="active">Admin Process</li>
                            <li class="active">Policy</li>
                            <li class="active">Policy Rate</li>*@
                        </ol>
                    </div>
                    <div class="title">
                        <h1>
                            Policy Rate
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Div Content -->
        <div class="row row-fixed">
            <div class="col-xs-12 col-fixed">
                <!-- Div Search -->
                <div class="box-content" id="search-form-modal">
                    <div class="box-header">
                        <div class="left-item">
                            <div class="title">
                                <h3>Search</h3>
                            </div>
                        </div>
                        <div class="right-item">
                            <button id="user-master" class="btn btn-link less-more-option">
                                Show more option
                                <i class="feather-icon icon-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    @using (Html.BeginForm("Search", "PolicyRate", FormMethod.Post, new { @class = "one-col-form", id = "search-form" }))
                    {
                        <div class="form-container form-horizontal">
                            <div class="row">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FormSearch.policy_date, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <div class="input-group date">
                                                @Html.EditDateFor(model => model.FormSearch.policy_date, new { @class = "form-control date-time-picker" })
                                                <span class="input-group-addon">
                                                    <span class="feather-icon icon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.LabelFor(model => model.FormSearch.cost_of_fund_date, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <div class="input-group date">
                                                @Html.EditDateFor(model => model.FormSearch.cost_of_fund_date, new { @class = "form-control date-time-picker" })
                                                <span class="input-group-addon">
                                                    <span class="feather-icon icon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advance-form" style="display: none;">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FormSearch.cur, htmlAttributes: new { @class = "control-label col-xs-2" })
                                            <div class="col-xs-4">
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" id="ddl_cur" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        @Html.SpanFor(model => model.FormSearch.cur, "Select...", new { @class = "selected-data" })
                                                        @Html.TextBoxFor(model => model.FormSearch.cur, htmlAttributes: new { @class = "selected-value hidden" })
                                                        @Html.TextBoxFor(model => model.FormSearch.cur, htmlAttributes: new { @class = "selected-data hidden" })
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <div class="search-dropdown-menu">
                                                            <input type="text" data-action="@Url.Action("FillCur", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_cur" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                            <i class="feather-icon icon-search"></i>
                                                        </div>
                                                        <hr>
                                                        <ul id="ul_cur"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-round btn-main btn-search" type="submit">Confirm</button>
                                    <button class="btn btn-link btn-link-secondary" type="reset">Clear Data</button>
                                </div>
                            </div>
                        </div>

                    }
                </div>

                <!-- Div Detail -->
                <div class="box-content table-content">
                    <div class="group box-header-wrapper">
                        <div class="box-header">
                            <div class="left-item">
                                <div class="title">
                                    <h3>Details</h3>
                                </div>
                            </div>
                            <div class="right-item">
                                <div class="add-data">
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-round dropdown-toggle" type="button" id="btnAdd" form-mode="add" @(!IsCreate ? "disabled" : "")>
                                            + Add @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="outer-table-wrapper">
                        <table id="x-table-data" class="table table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(mode => mode.TableList.RowNumber)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.policy_date)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.cur)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.cost_of_fund_date)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.cost_of_fund_rate)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.remark)</th>
                                    <th class="action" style="text-align:center;">
                                        <i class="feather-icon icon-settings" style="font-size: large;"></i>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Add Form Right Modal -->
<div class="modal right fade" id="action-form-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="feather-icon icon-x"></i>
                    </span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Add @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])</h4>
            </div>
            <div class="modal-body group">
                @using (Html.BeginForm("Create", "PolicyRate", FormMethod.Post, new { @class = "one-col-form", id = "action-form" }))
                {
                    <div class="form-container form-horizontal">
                        <div class="row">
                            <div class="col-xs-12 form-wrapper-max">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.FormAction.policy_date, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        <div class="input-group date">
                                            @Html.EditDateFor(model => model.FormAction.policy_date, new { @class = "form-control date-time-picker", @typefield = "date" })
                                            <span class="input-group-addon">
                                                <span class="feather-icon icon-calendar"></span>
                                            </span>
                                        </div>
                                        <span id="policy_date_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.FormAction.cur, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" id="ddl_cur_action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                @Html.SpanFor(model => model.FormAction.cur, "Select...", new { @class = "selected-data" })
                                                @Html.TextBoxFor(model => model.FormAction.cur, htmlAttributes: new { @class = "selected-value hidden" })
                                                @Html.TextBoxFor(model => model.FormAction.cur, htmlAttributes: new { @class = "selected-data hidden" })
                                                <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <div class="search-dropdown-menu">
                                                    <input type="text" data-action="@Url.Action("FillCur", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_cur_action" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                    <i class="feather-icon icon-search"></i>
                                                </div>
                                                <hr>
                                                <ul id="ul_cur_action"></ul>
                                            </div>
                                        </div>
                                        <span id="cur_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.FormAction.cost_of_fund_date, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        <div class="input-group date">
                                            @Html.EditDateFor(model => model.FormAction.cost_of_fund_date, new { @class = "form-control date-time-picker", @typefield = "date" })
                                            <span class="input-group-addon">
                                                <span class="feather-icon icon-calendar"></span>
                                            </span>
                                        </div>
                                        <span id="cost_of_fund_date_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.FormAction.cost_of_fund_rate, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.EditorFor(model => model.FormAction.cost_of_fund_rate, new { htmlAttributes = new { @maxlength = 12,@class = "form-control", @oninput = "return numberOnlyAndDot(this);", @onfocusout = "return auto8digit(this);"} })
                                        <span id="cost_of_fund_rate_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(Model => Model.FormAction.remark, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">                                        
                                        @Html.EditorFor(model => model.FormAction.remark, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-round btn-main btn-form-save">+ Add @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])</button>
                            <button type="reset" class="btn btn-default btn-round btn-main" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/SweetAlertCss")
    @Styles.Render("~/content/datatable")
    <style>
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_processing {
            z-index: 3000;
            padding-top: 10px !important;
        }

        #search-form .text-box {
            width: 235px !important;
        }

        #search-form .dropdown {
            width: 235px !important;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/SweetAlert")

    <script>

        var isUpdate = "@IsUpdate";
        var isDelete = "@IsDelete";

        @*function Delete(policy_date, cur) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $('.spinner').css('display', 'block');
                        var data = { policy_date: policy_date, cur: cur };
                        console.log("Show form delete -> local");
                         $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete", (string)this.ViewContext.RouteData.Values["controller"])",
                            content: "application/json; charset=utf-8",
                            dataType: "json",
                            data: data,
                            success: function (d) {
                                $('.spinner').css('display', 'none');
                                if (d.success) {
                                    swal("Deleted!", "Delete Success.", "success");
                                    $('#action-form-modal').modal('hide');
                                    GM.Message.Clear();
                                    GM.PolicyRate.Form.Search();
                                    GM.PolicyRate.Table.draw();
                                } else {
                                    // DoSomethingElse()
                                    swal("Deleted!", "Error : " + d.responseText, "error");
                                }
                            },
                            error: function (d) {
                                $('.spinner').css('display', 'none');
                                // TODO: Show error
                                GM.Message.Clear();
                            }
                        });
                    } else {
                        GM.Message.Clear();
                        swal("Cancelled", "Your imaginary file is safe :)", "error");
                    }
                });
        }*@

        function FormatDecimal(Num, point) {
            var format = Number(parseFloat(Num).toFixed(point)).toLocaleString('en', {
                minimumFractionDigits: point
            });
            return format;
        }

        $(document).ready(function () {
            GM.PolicyRate = {};
            GM.PolicyRate.Table = $('#x-table-data').DataTable({
                dom: 'Bfrtip',
                select: false,
                searching: true,
                scrollY: '80vh',
                scrollX: true,
                order: [
                    [1, "asc"]
                ],
                buttons: [],
                processing: true,
                serverSide: true,
                ajax: {
                    "url": "@Url.Action("Search", (string)this.ViewContext.RouteData.Values["controller"])",
                    "type": "POST",
                    "error": function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                },
                columnDefs:
                    [
                        { targets: 0, data: "RowNumber" },
                        {
                            targets: 1, data: "policy_date",
                            render: function (data, type, row, meta) {
                                if (data != null) {
                                    return moment(data).format('DD/MM/YYYY');
                                }
                                return data
                            }
                        },
                        { targets: 2, data: "cur" },
                        {
                            targets: 3, data: "cost_of_fund_date",
                            render: function (data, type, row, meta) {
                                if (data != null) {
                                    return moment(data).format('DD/MM/YYYY');
                                }
                                return data
                            }
                        },
                        {
                            targets: 4, data: "cost_of_fund_rate",
                            render: function (data, type, row, meta) {
                                if (data != null) {
                                    return auto8digitval(data);
                                }
                                return data
                            }},
                        { targets: 5, data: "remark" },
                        {
                            targets: 6, orderable: false, data: "user_id", className: "dt-body-center", width: 60, render: function (data, type, row, meta) {
                                var html = '';

                                if (isUpdate == "True") {
                                    html += '<button class="btn btn-default btn-round" key="' + moment(row.policy_date).format('DD/MM/YYYY') + '" keysecond="' + row.cur + '" form-mode="edit" onclick="GM.PolicyRate.Form(this)"><i class="feather-icon icon-edit"></i></button>';
                                }
                                else {
                                    html += '<button class="btn btn-default btn-round" key="' + moment(row.policy_date).format('DD/MM/YYYY') + '" keysecond="' + row.cur + '" form-mode="view" onclick="GM.PolicyRate.Form(this)"><i class="feather-icon icon-edit"></i></button>';
                                }

                                if (isDelete == "True") {
                                    html += '<button class="btn btn-delete  btn-round" key="' + moment(row.policy_date).format('DD/MM/YYYY') + '" keysecond="' + row.cur + '" form-mode="delete" onclick="GM.PolicyRate.Form(this)"><i class="feather-icon icon-trash-2"></i></button>';
                                }
                                else {
                                    html += '<button class="btn btn-delete  btn-round" key="' + moment(row.policy_date).format('DD/MM/YYYY') + '" keysecond="' + row.cur + '" form-mode="delete" onclick="GM.PolicyRate.Form(this)" disabled><i class="feather-icon icon-trash-2"></i></button>';
                                }

                                return html;
                            }
                        }
                    ],
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                }

            });

            GM.PolicyRate.Form = function (btn) {
                var mode = $(btn).attr("form-mode");
                GM.Message.Clear();
                GM.PolicyRate.Form.Initial();

                if (mode) {
                    var key = $(btn).attr("key");
                    var keysecond = $(btn).attr("keysecond");
                    switch (mode) {
                        case "add":
                            // Step 1 : Set title
                            $(".modal-title").text("Create @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])");
                            // Step 2 : Set Button
                            $("#action-form :submit").removeClass('btn-delete').addClass('btn-primary').text('Create');
                            $("#action-form :submit").removeAttr("onclick");
                            // Step 3 : Set Action
                            $("#action-form").attr("action", "@Url.Action("Create", "PolicyRate")");
                            //// Step 4 : Set Input
                       
                            $("#FormAction_policy_date").attr('readonly', false);
                            $("#FormAction_policy_date").val("");
                            $("#ddl_cur_action").attr('readonly', false);
                            $("#ddl_cur_action").find(".selected-data").text("Select...");
                            $("#ddl_cur_action").find(".selected-value").text("");
                            $("#FormAction_cost_of_fund_date").attr('readonly', false);
                            $("#FormAction_cost_of_fund_date").val("");
                            $("#FormAction_cost_of_fund_rate").attr('readonly', false);
                            $("#FormAction_cost_of_fund_rate").val("");
                            $("#FormAction_remark").attr('readonly', false);
                            $("#FormAction_remark").val("");
                            $("#action-form").attr("isdelete", "false");
                            //$("#FormAction_start_date").removeAttr('disabled', 'disabled');
                            //$("#FormAction_start_date").val("");
                            //$("#FormAction_expire_date").removeAttr('disabled', 'disabled');
                            //$("#FormAction_expire_date").val("");
                            // Step 5 : Show modal
                            $('#action-form-modal').modal('show');

                            break;
                        case "edit":
                            // Step 0 : Select Data
                            GM.PolicyRate.Get({
                                id: key,
                                id1: keysecond,
                                form: 'action-form',
                                handler: function (response, status, jqxhr) {
                                }
                            });
                            // Step 1 : Set title
                            $(".modal-title").text("Edit @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])");
                            // Step 2 : Set Button
                            $("#action-form :submit").removeAttr("onclick");
                            $("#action-form :submit").removeClass('btn-delete').addClass('btn-primary').text('Update');
                            // Step 3 : Set Action
                            $("#action-form").attr("action", "@Url.Action("Edit", "PolicyRate")");
                            // Step 4 : Set Input
                            $("#FormAction_cost_of_fund_date").attr('readonly', false);
                            $("#FormAction_cost_of_fund_date").val("");
                            $("#FormAction_cost_of_fund_rate").attr('readonly', false);
                            $("#FormAction_cost_of_fund_rate").val("");
                            $("#FormAction_remark").attr('readonly', false);
                            $("#FormAction_remark").val("");

                            $("#FormAction_policy_date").attr('readonly', true);
                            $("#ddl_cur_action").attr('readonly', true);
                            $("#action-form").attr("isdelete", "false");

                            // Step 5 : Show modal
                            

                            break;
                        case "delete":
                            // Step 0 : Select Data
                            GM.PolicyRate.Get({
                                id: key,
                                id1: keysecond,
                                form: 'action-form',
                                handler: function (response, status, jqxhr) {
                                }
                            });
                            // Step 1 : Set title
                            $(".modal-title").text("Are you sure you want to delete this?");
                            // Step 2 : Set Button
                            $("#action-form :submit").removeClass('btn-primary').addClass('btn-delete').text('Delete');
                            //$("#action-form :submit").attr("onclick", "Delete('" + key + "', '" + keysecond + "')");
                           // $("#action-form").attr("action", "notpost");
                            $("#action-form").attr("isdelete", "true");
                            $("#action-form").attr("action", "@Url.Action("Delete", "PolicyRate")");
                            $("#action-form").attr("keyvalue", key);
                            $("#action-form").attr("keyvalue2", keysecond);

                            $("#FormAction_cost_of_fund_date").attr('readonly', true);
                            $("#FormAction_cost_of_fund_rate").attr('readonly', true);
                            $("#FormAction_remark").attr('readonly', true);
                            
                            $("#FormAction_policy_date").attr('readonly', true);
                            $("#ddl_cur_action").attr('readonly', true);
                            // Step 4 : Show modal

                            break;
                        case "view":
                            // Step 0 : Select Data
                            GM.PolicyRate.Get({
                                id: key,
                                id1: keysecond,
                                form: 'action-form',
                                handler: function (response, status, jqxhr) {
                                }
                            });
                            // Step 1 : Set title
                            $(".modal-title").text("Create @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])");
                            // Step 2 : Set Button
                            $("#action-form :submit").removeClass('btn-delete').addClass('btn-primary').text('Update');
                            $("#action-form :submit").attr('disabled', "disabled");
                            $("#action-form").attr("isdelete", "false");
                            // Step 3 : Set Input
                            //$("#ddl_user_action").attr('disabled', 'disabled');
                            //$("#Txt_desk_group_name").attr('disabled', 'disabled');
                            //$("#FormAction_limit_amount").attr('disabled', 'disabled');
                            //$("#FormAction_threshold_amount").attr('disabled', 'disabled');
                            //$("#FormAction_threshold_percent").attr('disabled', 'disabled');
                            //$("#ddl_cur_action").attr('disabled', 'disabled');
                            //$("#FormAction_start_date").attr('disabled', 'disabled');
                            //$("#FormAction_expire_date").attr('disabled', 'disabled');
                            //radioyes.attr('disabled', 'disabled');
                            //radiono.attr('disabled', 'disable');

                            // Step 4 : Show modal

                            break;
                    }
                }
            };

            GM.PolicyRate.Get = function (op) {
                $.get("@Url.Action("Edit", (string)this.ViewContext.RouteData.Values["controller"])", { policy_date: op.id, cur: op.id1, t: GM.Time })
                .done(function (response, status, jqxhr) {
                    // this is the "success" callback
                    if (response.RowNumber == null) {
                        swal("Warning", "Record have been remove!", "warning");
                        GM.PolicyRate.Form.Search();
                        op.handler(response);
                    }
                    else {
                        $('#action-form-modal').modal('show');
                        GM.PolicyRate.Form.DataBinding({ form: op.form, data: response });
                        op.handler(response);
                    }
                    
                })
                .fail(function (jqxhr, status, error) {
              });
            };
            $("#NavBar").html($('#NavPolicyRate').val());
        });
        // End (document).ready
    </script>
    @Scripts.Render("~/module/policyrate")
    @Scripts.Render("~/module/validation")
}
