@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@using (Html.BeginForm("Edit", "GLAdjust", FormMethod.Post, new { id = "action-form" }))
{
    <section class="working-content two-nav-padding" data-spy="scroll" data-target="#glAdjust-scrollspy" data-offset="200">
        <div class="container-fluid container-fixed">
            <!--Second Navbar-->
            <nav id="glAdjust-scrollspy" class="navbar navbar-defult top-navbar section-nav-wrapper">
                <div class="navbar-wrapper sub-topnav section-nav">
                    <ul class="nav navbar-nav">
                        <li class="active" id="detail-li">
                            <a href="#glAdjust-detail" onclick="CustodianForm.expandPanel('glAdjust-detail')">Detail</a>
                        </li>
                        <li>
                            <div class="vertical-line"></div>
                        </li>
                        <li class="submit-nav">
                            <button type="submit" class="btn btn-link" @(!IsUpdate ? "disabled" : "")>Submit</button>
                            <button type="button" class="btn btn-link" onclick="location.href = '@Url.Action("Index", "GLAdjust")'">Back</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Div PageTitle -->
            <div class="row row-fixed">
                <div class="col-lg-12 col-fixed">
                    <div class="page-title">
                        <div class="breadcrumb-wrap">
                            <ol class="breadcrumb" id="NavBar">
                            </ol>
                        </div>
                        <div class="title">
                            <h1>
                                Edit GL Adjust
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Zone -->
            <div class="row row-fixed">
                <div class="col-xs-12 col-fixed">

                    @{
                        Html.RenderPartial("_Form");
                    }

                    <div id="glAdjust-submit" class="page-button-submit">
                        <button type="submit" class="btn btn-primary btn-round btn-big" @(!IsUpdate ? "disabled" : "")>Submit</button>
                        <a class="btn btn-link" onClick="window.location.reload(true)">Clear Data</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Styles {
    @Styles.Render("~/content/datatable")
    @Styles.Render("~/bundles/SweetAlertCss")
    <style>
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_processing {
            z-index: 3000;
            padding-top: 10px !important;
        }

        #glAdjust-submit {
            text-align: center;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/SweetAlert")
    @*<script src="~/Scripts/GM.GLAdjustForm.js"></script>*@
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + DateTime.Now.ToString("ddmmyyyyHHmmss") + "\"></script>", "~/Scripts/GM.GLAdjustForm.js")

    <script>
        $(document).ready(function() {

            var settings = {
                isUpdate: "@IsUpdate",
                isDelete: "@IsUpdate",
                urlIndex: "@Url.Action("Index", "GLAdjust")",
                urlDelete: "@Url.Action("Delete", "GLAdjust")",
                urlGetDetail: "@Url.Action("GetDetail", "GLAdjust")"
            };
            GlAdjustForm.initEdit(settings);

            $("#NavBar").html($('#NavGLAdjust').val());
        });
    </script>
}