@model GM.Data.View.GLProcess.GLAdjustViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="working-content">
    <div class="container-fluid container-fixed">
        <!-- Div Page Title -->
        <div class="row row-fixed">
            <div class="col-lg-12 col-fixed">
                <div class="page-title">
                    <div class="breadcrumb-wrap">
                        <ol class="breadcrumb" id="NavBar">
                        </ol>
                    </div>
                    <div class="title">
                        <h1>
                            GL Adjust
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Div Content -->
        <div class="row row-fixed">
            <div class="col-xs-12 col-fixed">
                <!-- Div Search -->
                <div class="box-content" id="search-form-modal">
                    <div class="box-header">
                        <div class="left-item">
                            <div class="title">
                                <h3>Search</h3>
                            </div>
                        </div>
                        <div class="right-item">
                        </div>
                    </div>
                    @using (Html.BeginForm("Search", "GLAdjust", FormMethod.Post, new { @class = "one-col-form", id = "search-form" }))
                    {
                        <div class="form-container form-horizontal">
                            <div class="row">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FormSearch.adjust_num, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            @Html.EditorForValidate(model => model.FormSearch.adjust_num, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.LabelFor(model => model.FormSearch.posting_date, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <div class="input-group date">
                                                @Html.EditDateFor(model => model.FormSearch.posting_date, new { @class = "form-control date-time-picker-weekend" })
                                                <span class="input-group-addon">
                                                    <span class="feather-icon icon-calendar-weekend"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FormSearch.trans_port, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" id="ddl_trans_port" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    @Html.SpanFor(model => model.FormSearch.trans_port, "Select...", new { @class = "selected-data" })
                                                    @Html.TextBoxFor(model => model.FormSearch.trans_port, htmlAttributes: new { @class = "selected-value hidden" })
                                                    @Html.TextBoxFor(model => model.FormSearch.trans_port, htmlAttributes: new { @class = "selected-data hidden" })
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="search-dropdown-menu">
                                                        <input type="text" data-action="@Url.Action("FillAdjustPort", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_trans_port" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                        <i class="feather-icon icon-search"></i>
                                                    </div>
                                                    <hr>
                                                    <ul id="ul_cur"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.LabelFor(model => model.FormSearch.trans_no, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            @Html.EditorForValidate(model => model.FormSearch.trans_no, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FormSearch.cur, htmlAttributes: new { @class = "control-label col-xs-2" })
                                        <div class="col-xs-4">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" id="ddl_cur" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    @Html.SpanFor(model => model.FormSearch.cur, "Select...", new { @class = "selected-data" })
                                                    @Html.TextBoxFor(model => model.FormSearch.cur, htmlAttributes: new { @class = "selected-value hidden" })
                                                    @Html.TextBoxFor(model => model.FormSearch.cur, htmlAttributes: new { @class = "selected-data hidden" })
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="search-dropdown-menu">
                                                        <input type="text" data-action="@Url.Action("FillCur", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_cur" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                        <i class="feather-icon icon-search"></i>
                                                    </div>
                                                    <hr>
                                                    <ul id="ul_cur"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-round btn-main btn-search" type="submit">Confirm</button>
                                    <button class="btn btn-link btn-link-secondary" type="reset">Clear Data</button>
                                </div>
                            </div>
                        </div>

                    }
                </div>

                <!-- Div Detail -->
                <div class="box-content table-content">
                    <div class="group box-header-wrapper">
                        <div class="box-header">
                            <div class="left-item">
                                <div class="title">
                                    <h3>Details</h3>
                                </div>
                            </div>
                            <div class="right-item">
                                <div class="add-data">
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-round dropdown-toggle" type="button" onclick="location.href = '@Url.Action("Add", "GLAdjust")'" id="btnAdd" form-mode="add" @(!IsCreate ? "disabled" : "")>
                                            + Add @Html.DisplayString((string)this.ViewContext.RouteData.Values["controller"])
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="outer-table-wrapper">
                        <table id="x-table-data" class="table table-striped display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(mode => mode.TableList.RowNumber)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.adjust_num)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.posting_date)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.value_date)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.trans_port)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.trans_no)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.cur)</th>
                                    <th>@Html.LabelFor(mode => mode.TableList.item_count)</th>
                                    <th class="action" style="text-align:center;">
                                        <i class="feather-icon icon-settings" style="font-size: large;"></i>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    @Styles.Render("~/content/datatable")
    @Styles.Render("~/bundles/SweetAlertCss")
    <style>
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_processing {
            z-index: 3000;
            padding-top: 10px !important;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/SweetAlert")
    @*<script src="~/Scripts/GM.GLAdjustIndex.js"></script>*@
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + DateTime.Now.ToString("ddmmyyyyHHmmss") + "\"></script>", "~/Scripts/GM.GLAdjustIndex.js")

    <script>
        $(document).ready(function () {
            var settings = {
                isUpdate: "@IsUpdate",
                isDelete: "@IsDelete",
                urlSearch: "@Url.Action("Search", (string)this.ViewContext.RouteData.Values["controller"])",
                urlEdit: "@Url.Action("Edit", (string)this.ViewContext.RouteData.Values["controller"])",
                urlDelete: "@Url.Action("Delete", (string)this.ViewContext.RouteData.Values["controller"])"
            };
            GlAdjustIndex.init(settings);

            $("#NavBar").html($('#NavGLAdjust').val());
        });
    </script>

}