@model GM.Data.Model.RPTransaction.RPTransModel
<!-- PageTitle -->
<div class="row row-fixed">
    <div class="col-lg-12 col-fixed">
        <div class="page-title-wrapper">
            <div class="left-content">
                <div class="page-title">
                    <div class="title">
                        <h1>
                            Early Termination
                        </h1>
                    </div>
                    <div class="breadcrumb-wrap">
                        <ol class="breadcrumb" id="NavBar"></ol>
                    </div>
                    <div class="vertical-line d1"></div>
                    <div class="dropdown page-action">
                        <button class="btn btn-primary dropdown-toggle btn-round" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Deal Option
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="GM.RPEarlyTermination.Submit(this);">Submit</a>
                            </li>
                            <li>
                                <a onclick="location.href = '@Url.Action("Index", "RPEarlyTermination")'">Back</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Zone -->
<div class="row row-fixed">
    <div class="col-xs-12 col-fixed">
        <!-- Box Outside -->
        <div class="box-outside box-outside-d1 no-padding">
            <div class="header-row">
                <div class="form-container form-container-d1 form-inline">
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="form-group-wrapper">
                                <div class="deal-status">
                                    <span class="title">Deal Status :</span>
                                    @if (Model.trans_status.ToUpper() == "OPEN")
                                    {
                                        <span class="label label-deal-new">@Model.trans_status</span>
                                    }
                                    else if (Model.trans_status.ToUpper() == "CORRECT")
                                    {
                                        <span class="label label-deal-accept">@Model.trans_status</span>
                                    }
                                    else if (Model.trans_status.ToUpper() == "CANCEL")
                                    {
                                        <span class="label label-deal-unaccept">@Model.trans_status</span>
                                    }
                                    else
                                    {
                                        <span class="label label-default">@Model.trans_status</span>
                                    }
                                    @Html.HiddenFor(model => model.trans_status)
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="deal-status">
                                    <span class="title">Deal State :</span>
                                    @if (Model.trans_state.ToUpper() == "FO-CREATE")
                                    {
                                        <span class="label label-deal-new">@Model.trans_state</span>
                                    }
                                    else if (Model.trans_state.ToUpper() == "FO-APPROVE")
                                    {
                                        <span class="label label-deal-accept">@Model.trans_state</span>
                                    }
                                    else if (Model.trans_state.ToUpper() == "FO-REJECTAPPROVE")
                                    {
                                        <span class="label label-deal-unaccept">@Model.trans_state</span>
                                    }
                                    else
                                    {
                                        <span class="label label-default">@Model.trans_state</span>
                                    }
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="deal-status">
                                    <label class="title">Trans No :</label>
                                    <span id="Lab_trans_no" class="label label-default">@Model.trans_no</span>
                                    <input id="trans_no" type="hidden" name="trans_no" value="@Model.trans_no">
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="form-group">
                                    <label class="control-label">User</label>
                                    <p class="form-control-static">@Model.user_id</p>
                                    @Html.HiddenFor(model => model.user_id)
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="form-group">
                                    <label class="control-label">Username</label>
                                    <p class="form-control-static">@Model.username</p>
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="form-group">
                                    <label class="control-label">Portfolio</label>
                                    <div class="dropdown">
                                        <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="selected-data">@Model.port_name</span>
                                            <span class="caret"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="form-group">
                                    <label class="control-label">Deskbook</label>
                                    <p class="form-control-static">@Model.desk_group_name</p>
                                </div>
                                <div class="vertical-line d1"></div>
                                <div class="form-group">
                                    <label class="control-label">Dealer Code</label>
                                    <div class="dropdown">
                                        <button disabled class="btn btn-default dropdown-toggle" style="min-width:250px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="selected-data">@Model.trader_name</span>
                                            <span class="caret"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="box-content-wrapper-d1 d-table">
                <div class="box-content-wrapper-d1 d-table">
                    <!-- Deal -->
                    <div id="deal" class="box-content box-content-d1 first col-30 no-padding d-table-cell">
                        <div class="form-container form-horizontal form-container-d1">
                            <div class="row row-fix-d1">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Deal Detail</h4>
                                    </div>
                                    <div class="form-group-wrapper">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.repo_deal_type)
                                            @Html.LabelFor(model => model.repo_deal_type_name, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="radio-form no-padding">
                                                    <div class="radio select-btn-radio">
                                                        <input id="Txt_repo_deal_type" type="hidden" name="repo_deal_type_name" value="@Model.repo_deal_type_name">
                                                        <label id="Lab_repo_deal_type_Pri" class="radio-inline checked">
                                                            <input id="repo_deal_type_Pri" disabled class="btn-radio" type="radio" name="inst">Private Repo
                                                        </label>
                                                        <label id="Lab_repo_deal_type_Bil" class="radio-inline">
                                                            <input id="repo_deal_type_Bil" disabled class="btn-radio" type="radio" name="inst">Bilateral Repo
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.trans_deal_type, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="dropdown" style="max-width: 250px;">
                                                    <input id="Txt_trans_deal_type_name" type="hidden" name="trans_deal_type_name" value="@Model.trans_deal_type_name">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="selected-data">@Model.trans_deal_type_name</span>
                                                        @Html.HiddenFor(model => model.trans_deal_type)
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.purchase_price, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group" style="width:100%;max-width:250px;">
                                                    <input type="text" readonly class="form-control" aria-label="..." value="@(Model.purchase_price != null ? Model.purchase_price.Value.ToString("N2"):"")" />
                                                    @Html.HiddenFor(model => model.purchase_price)
                                                    <div class="input-group-btn dropdown">
                                                        <button type="button" disabled class="btn btn-default dropdown-toggle" style="width: 70px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="selected-data">@Model.cur</span>
                                                            @Html.HiddenFor(model => model.cur)
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                    <!-- /btn-group -->
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.deal_period, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5">
                                                <div class="input-group amount-choose" style="max-width: 250px;">
                                                    <span class="input-group-btn">
                                                        <button disabled class="btn btn-default" type="button">
                                                            <i class="feather-icon icon-minus"></i>
                                                        </button>
                                                    </span>
                                                    @Html.EditorFor(model => model.deal_period, new { htmlAttributes = new { @readonly = "readonly", Type = "text", @class = "form-control text-center" } })
                                                    <span class="input-group-btn">
                                                        <button disabled class="btn btn-default" type="button">
                                                            <i class="feather-icon icon-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.trade_date, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group date" style="max-width: 250px;width: 100%;">
                                                    @Html.EditDateFor(model => Model.trade_date, new { id = "trade_date", @class = "form-control date-time-picker-weekend", @readonly = "" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.settlement_date, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group date" style="max-width: 250px;width: 100%;">
                                                    @Html.EditDateFor(model => Model.settlement_date, new { id = "settlement_date", @class = "form-control date-time-picker-weekend", @readonly = "" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.maturity_date, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group date" style="max-width: 250px;width: 100%;">
                                                    @Html.EditDateFor(model => Model.maturity_date, new { @class = "form-control date-time-picker-weekend", @readonly = "" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.trans_in_term_id, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="dropdown" style="max-width: 250px;">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="selected-data">@Model.trans_in_term_id_name</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.bilateral_contract_no, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group" style="width: 100%;max-width: 250px;">
                                                    <input type="text" readonly class="form-control" aria-describedby="basic-addon1" value="@Model.bilateral_contract_no">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.purpose, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="dropdown" style="max-width: 250px;">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="selected-data">@Model.purpose</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.trans_type, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="dropdown" style="max-width: 250px;">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="selected-data">@Model.trans_type</span>
                                                        @Html.HiddenFor(model => model.trans_type)
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.basis_code, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="dropdown" style="max-width: 250px;">
                                                    <input id="Txt_basis_code_name" type="hidden" name="basis_code_name" value="@Model.basis_code_name">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span id="Sp_basis_code_name" class="selected-data">@Model.basis_code_name</span>
                                                        @Html.HiddenFor(model => model.basis_code)
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 col-md-5 col-lg-4">
                                            </div>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Amount -->
                    <div id="amount" class="box-content box-content-d1 second col-30 no-padding d-table-cell">
                        <div class="form-container form-horizontal form-container-d1">
                            <div class="row row-fix-d1">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Interest</h4>
                                    </div>
                                    <div class="form-group-wrapper no-mb">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.interest_type, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="radio-form">
                                                    <div class="radio select-btn-radio">
                                                        <input id="Txt_interest_type" type="hidden" name="interest_type" value="@Model.interest_type">
                                                        <label id="Lab_interest_type_Fixed" class="radio-inline checked">
                                                            <input id="Radio_interest_type_Fixed" disabled class="btn-radio" type="radio" name="int">Fixed Rate
                                                        </label>
                                                        <label id="Lab_interest_type_Float" class="radio-inline">
                                                            <input id="Radio_interest_type_Float" disabled class="btn-radio" type="radio" name="int">Float Rate
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.interest_rate, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                @if (Model.interest_type == "FIXED")
                                                {
                                                    <div class="input-group no-btn" style="max-width: 250px;width: 100%;">
                                                        <input id="Txt_interest_rate" readonly type="sub-desk" class="form-control" placeholder="Input numbers only" value="@(Model.interest_rate != null ? Model.interest_rate.Value.ToString("N8") : "")">
                                                        <span disabled class="input-group-addon">
                                                            <span class="text">%</span>
                                                        </span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="intrateddl" class="dropdown" style="max-width: 250px;">
                                                        <button class="btn btn-default dropdown-toggle" id="ddl_intrate" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            <span class="selected-data">@Model.interest_floating_index_code</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.interest_spread, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group no-btn" style="max-width: 250px;width: 100%;">
                                                    <input id="Txt_interest_spread" readonly type="sub-desk" class="form-control" placeholder="Input numbers only" value="@(Model.interest_spread != null ? Model.interest_spread.Value.ToString("N8"):"")">
                                                    <span disabled class="input-group-addon">
                                                        <span class="text">%</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4 col-md-5 col-lg-4">Total Int.</label>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group no-btn" style="max-width: 250px;width: 100%;">
                                                    <input id="interest_total_int" readonly type="sub-desk" class="form-control" placeholder="Input numbers only" value="@(Model.interest_rate != null && Model.interest_spread != null ? (Model.interest_rate + Model.interest_spread).Value.ToString("N8") : "")">
                                                    <span disabled class="input-group-addon">
                                                        <span class="text">%</span>
                                                        @Html.HiddenFor(model => model.interest_total)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-link link-w-icon hidden" type="button" data-toggle="modal" id="btn_checkinterest">
                                            @*data-target="#check-interest"*@
                                            <i class="feather-icon icon-search"></i>
                                            <span>Check interest Period</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <hr>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Cost</h4>
                                    </div>
                                    <div class="form-group-wrapper no-mb">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.cost_type, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="radio-form">
                                                    <div class="radio select-btn-radio">
                                                        <input id="Txt_cost_type" type="hidden" name="cost_type" value="@Model.cost_type">
                                                        <label id="Lab_cost_type_Fixed" class="radio-inline">
                                                            <input id="Radio_cost_type_Fixed" disabled class="btn-radio" type="radio" name="int">Fixed Rate
                                                        </label>
                                                        <label id="Lab_cost_type_Float" class="radio-inline">
                                                            <input id="Radio_cost_type_Float" disabled class="btn-radio" type="radio" name="int">Float Rate
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.cost_of_fund, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                @if (Model.cost_type == "FIXED")
                                                {
                                                    <div class="input-group no-btn" style="max-width: 250px;width: 100%;">
                                                        <input id="Txt_cost_of_fund" readonly type="sub-desk" class="form-control" placeholder="Input numbers only" value="@(Model.cost_of_fund != null ? Model.cost_of_fund.Value.ToString("N8"):"")">
                                                        <span disabled class="input-group-addon">
                                                            <span class="text">%</span>
                                                        </span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="intrateddl" class="dropdown" style="max-width: 250px;">
                                                        <button class="btn btn-default dropdown-toggle" id="ddl_intrate" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            <span class="selected-data">@Model.cost_floating_index_code</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.cost_spread, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group no-btn" style="max-width: 250px;width: 100%;">
                                                    <input id="Txt_cost_spread" readonly type="sub-desk" class="form-control" placeholder="Input numbers only" value="@(Model.cost_spread != null ? Model.cost_spread.Value.ToString("N8"):"")">
                                                    <span disabled class="input-group-addon">
                                                        <span class="text">%</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-4 col-md-5 col-lg-4">Total Cost.</label>
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="input-group no-btn" style="max-width: 250px;width: 100%;">
                                                    <input id="Txt_cost_total_int" readonly type="sub-desk" class="form-control" placeholder="Input numbers only" value="@(Model.cost_total != null ? Model.cost_total.Value.ToString("N8"):"")">
                                                    <span disabled class="input-group-addon">
                                                        <span class="text">%</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <hr>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>EXTEND DEAL</h4>
                                    </div>
                                    <div class="form-group-wrapper no-mb">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.extend, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="dropdown" style="max-width: 250px;width: 100%;">
                                                    <input id="txt_append_name" type="hidden" name="append_name" value="@Model.extend_name">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        @Html.SpanFor(model => model.extend_name, "None", new { @class = "selected-data" })
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Manual Calculate</h4>
                                    </div>
                                    <div class="form-group-wrapper no-mb">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ismanual_cal, htmlAttributes: new { @class = "control-label col-xs-4 col-md-5 col-lg-4" })
                                            <div class="col-xs-5 col-md-7 col-lg-8">
                                                <div class="checkbox">
                                                    <label>
                                                        @if (Model.ismanual_cal.Value)
                                                        {
                                                            <input data-val="true" id="ismanual_cal_Value" name="ismanual_cal.Value" type="checkbox" disabled checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input data-val="true" id="ismanual_cal_Value" name="ismanual_cal.Value" type="checkbox" disabled>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Counter Party -->
                    <div id="counter-party-deal" class="box-content box-content-d1 third col-40 no-padding d-table-cell">
                        <div class="form-container form-horizontal form-container-d1">
                            <div class="row row-fix-d1">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Total Amount</h4>
                                    </div>
                                    <div class="form-group-wrapper">
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.repurchase_price, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                @Html.HiddenFor(model => model.repurchase_price)
                                                <p class="form-control-static">@(Model.repurchase_price != null ? Model.repurchase_price.Value.ToString("N2") : "")</p>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.interest_amount, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                @Html.HiddenFor(model => model.interest_amount)
                                                <p class="form-control-static">@(Model.interest_amount != null ? Model.interest_amount.Value.ToString("N2") : "")</p>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.withholding_amount, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                @Html.HiddenFor(model => model.withholding_amount)
                                                <p class="form-control-static">@(Model.withholding_amount != null ? (Model.absorb.Contains("Absorb") ? "" : Model.withholding_amount.Value.ToString("N2")) : "")</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.exch_rate, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })*@
                                            <label class="control-label col-xs-3 col-md-3 col-lg-3" style="padding-left: 3px;">Exchange Rate</label>
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <div class="input-group" style="width: 100%;max-width: 300px;">
                                                    <input type="text" readonly class="form-control" aria-describedby="basic-addon1" value="@(Model.exch_rate != null ? Model.exch_rate.Value.ToString("N8"):"")">
                                                    <div class="input-group-btn dropdown">
                                                        <input id="Txt_cur_pair1" type="hidden" name="cur_pair1" value="@Model.cur_pair1">
                                                        <button type="button" disabled class="btn btn-default dropdown-toggle" style="width:100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span id="Sp_cur_pair1" class="selected-data">@Model.cur_pair1</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                    <div class="input-group-btn dropdown">
                                                        <input id="Txt_cur_pair2" type="hidden" name="cur_pair2" value="@Model.cur_pair2">
                                                        <button type="button" disabled class="btn btn-default dropdown-toggle" style="width:100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span id="Sp_cur_pair2" class="selected-data">@Model.cur_pair2</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <hr>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Counter Party Detail</h4>
                                    </div>
                                    <div class="form-group-wrapper">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.counter_party_id, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })*@
                                            <label class="{ class = control-label col-xs-3 col-md-3 col-lg-3 }" for="counter_party_id" style="padding-left: 3px;">
                                                Counter Party
                                            </label>
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <div class="dropdown" style="max-width: 300px;">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="selected-data">@Model.counter_party_name</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-5 col-md-5 col-lg-5">
                                            </div>
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.swift_code, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                <p class="form-control-static">@Model.swift_code</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3 col-md-3 col-lg-3">Fund Code</label>
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <div class="dropdown" style="max-width: 300px;">
                                                    <input id="Txt_counter_party_fun" type="hidden" name="counter_party_fun" value="@Model.counter_party_fund_name">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span id="Sp_counter_party_fun" class="selected-data">@Model.counter_party_fund_name</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.wht_tax, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                @Html.HiddenFor(model => model.wht_tax)
                                                <p class="form-control-static">@Model.absorb</p>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.payment_method, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                <div class="input-group" style="max-width:250px;width:100%">
                                                    <div class="input-group-btn dropdown" style="max-width:125px;width:50%">
                                                        <input id="Txt_payment_method" type="hidden" name="payment_method" value="@Model.payment_method_text">
                                                        <button disabled class="btn btn-default dropdown-toggle" style="width:100%;max-width:125px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            <span id="Sp_payment_method" class="selected-data"></span>
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                    <div class="input-group-btn dropdown" style="max-width:125px;width:50%">
                                                        <input id="Txt_trans_mt_code" type="hidden" name="trans_mt_code" value="@Model.trans_mt_code">
                                                        <button disabled class="btn btn-default dropdown-toggle" style="width:100%;max-width:125px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            <span id="Sp_trans_mt_code" class="selected-data"></span>
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            <div class="col-xs-5 col-md-5 col-lg-5">
                                            </div>
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.formula, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                <div class="dropdown" style="max-width: 250px;">
                                                    <input id="txt_formula_name" type="hidden" name="formula" value="@Model.formula">
                                                    <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span id="Sp_formula_name" class="selected-data"></span>
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            <div class="col-xs-5 col-md-5 col-lg-5">
                                            </div>
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                            </div>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            @Html.LabelFor(model => model.threshold, htmlAttributes: new { @class = "control-label col-xs-5 col-md-5 col-lg-5" })
                                            <div class="col-xs-7 col-md-7 col-lg-7">
                                                <p class="form-control-static">@Model.threshold</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <hr>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Roll Over</h4>
                                    </div>
                                    <div class="form-group-wrapper no-mb">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3 col-md-3 col-lg-3">Net Settlement</label>
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <div class="checkbox">
                                                    <label>
                                                        @if (Model.net_settement_flag.Value)
                                                        {
                                                            <input data-val="true" id="net_settement_flag" type="checkbox" disabled checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input data-val="true" id="net_settement_flag" type="checkbox" disabled>
                                                        }
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-wrapper no-mb">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3 col-md-3 col-lg-3">Reference No.</label>
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <div class="input-group" style="min-width: 300px;">
                                                    @Html.EditorFor(model => model.ref_trans_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <div class="pointer"></div>
                                                    <span class="input-group-addon btnPopupRefNo">
                                                        <span class="feather-icon icon-search"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <hr>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12 form-wrapper-1100">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Special Case</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 col-md-3 col-lg-3" style="padding-left: 3px;">
                                            Case
                                        </label>
                                        <div class="col-xs-9 col-md-9 col-lg-9">
                                            <div class="dropdown" style="max-width: 300px;">
                                                <button disabled class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="selected-data">@(Model.special_case_name == "" ? "None" : Model.special_case_name)</span>
                                                    <span class="caret"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fix-d1">
                                <hr>
                            </div>
                            <div class="row row-fix-d1">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 form-sub-title col-form-fix">
                                        <h4>Early Termination</h4>
                                    </div>
                                    <div class="form-group-wrapper">
                                        <div class="form-group">
                                            @Html.LabelForRequired(model => model.terminate_date, htmlAttributes: new { @class = "control-label col-xs-3 col-md-3 col-lg-3" })
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <div class="input-group date" style="max-width: 300px;width: 100%;">
                                                    @Html.EditDateFor(model => model.terminate_date, new { @class = "form-control date-time-picker-weekend" })
                                                    <span class="input-group-addon">
                                                        <span class="feather-icon icon-calendar-weekend"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3 col-md-3 col-lg-3">
                                        </div>
                                        <div class="col-xs-9 col-md-9 col-lg-9">
                                            <span id="terminate_date_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelForRequired(model => model.fee_amount, htmlAttributes: new { @class = "control-label col-xs-3 col-md-3 col-lg-3" })
                                        <div class="col-xs-9 col-md-9 col-lg-9">
                                            <div class="input-group" style="width: 100%; max-width: 300px;">
                                                @Html.EditorFor(model => model.fee_amount, new { htmlAttributes = new { @maxlength = 10, @class = "form-control", @oninput = "return numberOnlyAndDot(this);", @onfocusout = "return auto2digit(this);" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3 col-md-3 col-lg-3">
                                        </div>
                                        <div class="col-xs-9 col-md-9 col-lg-9">
                                            <span id="fee_amount_error" class="field-validation-error text-danger" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Security -->
            <div class="box-content-wrapper-d1">
                <div id="security-deal" class="box-content box-content-d1 no-padding">
                    <div class="form-container form-container-d1 form-inline">
                        <div class="row row-fix-d1">
                            <div class="col-xs-12">
                                <div class="left-content">
                                    <div class="form-sub-title w-btn">
                                        <h4>Security</h4>
                                    </div>
                                </div>
                                <div class="right-content">
                                </div>
                            </div>
                        </div>
                        <div class="row row-fix-d1">
                            <div class="outer-table-wrapper outer-table-d1 clearfix">
                                <table id="x-table-data" class="table table-striped display nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.RowNumber)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.trans_no)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.instrument_code)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.isin_code)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.port_for_label)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.repo_deal_type)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.cur)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.ytm)</th>

                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.clean_price)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.dirty_price)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.haircut)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.unit)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.par)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.market_value)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.cash_amount)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.dirty_price_after_hc)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.interest_amount)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.wht_amount)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.temination_value)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.maturity_date)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.coupon_rate)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.par_unit)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.variation)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.dm)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.trade_date)</th>
                                            <th>@Html.LabelFor(mode => mode.RPTransColateralModel.settlement_date)</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row row-fix-d1">
                            <div class="col-xs-12">
                                <div class="form-group-wrapper">
                                    <div class="form-group">
                                        <label class="control-label">Sum Repo Int Amt</label>
                                        <p id="Sum_interest_amount" class="form-control-static"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Sum With Holding Tax Amt</label>
                                        <p id="Sum_wht_amount" class="form-control-static"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Sum Termination Value</label>
                                        <p id="Sum_temination_value" class="form-control-static"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Sum Cash Amount</label>
                                        <p id="Sum_cash_amount" class="form-control-static"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Summary -->
            <div id="remark-deal" class="box-content no-padding">
                <div id="remark-deal-icon" class="box-header big-head expand-able collapsed" aria-expanded="false" data-toggle="collapse" data-target="#remark-deal-form">
                    <div class="left-item">
                        <div class="title">
                            <i class="feather-icon icon-plus"></i><h3>Remark</h3>
                        </div>
                    </div>
                </div>
                <div id="remark-deal-form" class="form-container form-horizontal have-head collapse">
                    <div class="row">
                        <div class="col-xs-12 form-wrapper-1100">
                            <div class="form-group-wrapper">
                                @Html.HiddenFor(model => model.counter_party_id)
                                <div class="form-group">
                                    <label class="control-label col-xs-2">Remark</label>
                                    <div class="col-xs-3">
                                        <div class="dropdown">
                                            <button disabled class="btn btn-default dropdown-toggle" id="ddl_remark" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                @Html.SpanFor(model => model.remark_desc, "Select...", new { @class = "selected-data" })
                                                @Html.TextBoxFor(model => model.remark_id, htmlAttributes: new { @class = "selected-value hidden" })
                                                @Html.TextBoxFor(model => model.remark_desc, htmlAttributes: new { @class = "selected-data hidden" })
                                                <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <div class="search-dropdown-menu">
                                                    <input type="text" data-action="@Url.Action("FillRemark", (string)this.ViewContext.RouteData.Values["controller"])" id="txt_remark" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                                                    <i class="feather-icon icon-search"></i>
                                                </div>
                                                <hr>
                                                <ul id="ul_remark"></ul>
                                            </div>
                                            <span id="remark_id_error" class="field-validation-error text-danger" data-valmsg-replace="true">
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.deal_remark, htmlAttributes: new { @class = "control-label col-xs-2" })
                                    <div class="col-xs-7">
                                        @Html.TextAreaFor(model => model.deal_remark, new { @class = "form-control", rows = "5" })
                                        <span id="deal_remark_error" class="field-validation-error text-danger" data-valmsg-replace="true">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.commentaries, htmlAttributes: new { @class = "control-label col-xs-2" })
                                    <div class="col-xs-7">
                                        @Html.TextAreaFor(model => model.commentaries, new { @class = "form-control", rows = "5" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="deal-submit" class="page-button-submit page-submit-d1">
                <input id="Hid_Previous" type="hidden" name="Previous" value="@Model.btn_Previous">
                <button class="btn btn-primary btn-round btn-big" type="button" id="Btn_Previous" form-mode="previous" onclick="GM.RPEarlyTermination.Previous(this)">
                    previous
                </button>
                <button class="btn btn-success btn-round btn-big" type="button" id="btnSubmit" form-mode="submit" onclick="GM.RPEarlyTermination.Submit(this)">
                    Submit
                </button>
                @if (@Model.trans_status == "Terminate")
                {
                    <button class="btn btn-warning btn-round btn-big" type="button" id="btnReset" form-mode="submit" onclick="GM.RPEarlyTermination.Reset(this)">
                        Reset
                    </button>
                }
                <input id="Hid_Next" type="hidden" name="Next" value="@Model.btn_Next">
                <button class="btn btn-primary btn-round btn-big" type="button" id="Btn_Next" form-mode="next" onclick="GM.RPEarlyTermination.Next(this)">
                    Next
                </button>
            </div>
        </form>
    </div>
</div>
